certifi==2018.10.15
Click==7.0
csvs-to-sqlite==0.8.1
dateparser==0.7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.15.4
pandas==0.20.3
py-lru-cache==0.1.4
python-dateutil==2.7.5
pytz==2018.7
regex==2018.11.22
six==1.11.0
SQLAlchemy==1.2.14
tzlocal==1.5.1
Werkzeug==0.14.1
